h1{
	text-align: center;
	color: #581845

}
table {
	margin-left:auto;
	margin-right:auto;
}
ul {
	color: #900C3F;
}
#Languages {
	background: #FF5733;
	color: #FFC300;
}
#Computer {
	background: #FBB13C;
	color: #C70039;
}